/* 

Version: 1.0.0

*/

/* ======== FONTS ========= */
@font-face {
    font-family: "Adieu-Black";
    src: url(../../assets/fonts/Adieu/Adieu-Black.woff), url(../../assets/fonts/Adieu/Adieu-Black.woff2), url(../../assets/fonts/Adieu/Adieu-Black.otf);
  }
  @font-face {
    font-family: "Adieu-Bold";
    src: url(../../assets/fonts/Adieu/Adieu-Bold.woff), url(../../assets/fonts/Adieu/Adieu-Bold.woff2), url(../../assets/fonts/Adieu/Adieu-Bold.otf);
  }
  @font-face {
    font-family: "Adieu-Regular";
    src: url(../../assets/fonts/Adieu/Adieu-Regular.woff), url(../../assets/fonts/Adieu/Adieu-Regular.woff2), url(../../assets/fonts/Adieu/Adieu-Regular.otf);
  }
  @font-face {
    font-family: "Adieu-Light";
    src: url(../../assets/fonts/Adieu/Adieu-Light.woff), url(../../assets/fonts/Adieu/Adieu-Light.woff2), url(../../assets/fonts/Adieu/Adieu-Light.otf);
}
:root {
  --font-primary: "Adieu-Bold";
  --font-secondary: "Adieu-Regular";
  --max-width: 1340px;
  /* Spacing variables */
  --s1: 8px;
  --s2: 16px;
  --s3: 24px;
  --s4: 32px;
  --s5: 40px;
  --s6: 48px;
  --s7: 56px;
  --lg: 80px;
  /* Font variables */
  --f-xs: 14px;
  --f-sm: 16px;
  --f-md: 18px;
  --f-lg: 20px;
  --f-xl: 22px;
  --f-xxl: 28px;
  --f-xxxl: 35px;
  --f-h4: 40px;
  --f-h3: 45px;
  --f-h2: 70px;
  --f-h1: 105px;
  /* Color variables */
  --color-primary: #1B1B1B;
  --color-secondary: #fff;
  --bg-primary: #fff;
  --bg-secondary: #171717;
  --bg-accent1: #0057FF;
  --bg-accent2: #FFC700;
}


* {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
}
a, a:hover, a:focus, a:active  {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
.content {
  max-width: var(--max-width);
  width: 100%;
  margin: 0 auto;
}

.top_page_padding {
  padding-top: 50px;
}

.page_container {
  display: flex;
  flex-direction: column;
  gap: var(--s7);
  overflow-x: hidden;
}

.text_uppercase {
  text-transform: uppercase !important;
}

.cta_link {
  text-decoration: underline !important;
  color: inherit;
}
.text_sm, .text_sm p {
  font-size: var(--f-sm);
}
.text_1, .text_1 p {
  font-size: var(--f-md);
}
.text_2, .text_2 p {
  font-size: var(--f-xl);
}
.thin_1 {
  font-weight: 200;
}
.bold_1 {
  font-weight: 500;
}
.bold_2 {
  font-weight: 600;
}
.subtitle_1 {
  font-size: var(--f-h4);
  font-weight: 500;
}
.medium_title {
  font-size: var(--f-xxl);
  font-family: "Adieu-Light";
}
.small_title {
  font-size: var(--f-lg);
  font-family: "Adieu-Light";
}
.page_title {
  font-size: var(--f-h1);
  font-family: "Adieu-Black";
  margin-top: 0;
}
.title_1 {
  font-size: var(--f-h3) !important;
}
.title_2 {
  font-size: var(--f-h2);
  font-family: "Adieu-Regular";
}
.title_3 {
  font-size: var(--f-h4);
  font-family: "Adieu-Regular";
}
.adieu_black {
  font-family: "Adieu-Black";
}
.adieu_bold {
  font-family: "Adieu-Bold";
}
.adieu_regular {
  font-family: "Adieu-Regular";
}
.adieu_light {
  font-family: "Adieu-Light";
}
.gap_lg {
  gap: 80px;
}
p {
  font-size: var(--f-sm);
}
img {
  width: 100%;
  height: auto;
}
img.vertical_img {
  height: 100%;
  width: auto;
}
img.horizontal_img {
  width: 100%;
  height: fit-content;
}
.section_secondary img.horizontal_img {
  max-width: 60%;
}
.section_secondary img.vertical_img {
  max-height: 550px;
}
.text_ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.text_ellipsis_3, .text_ellipsis_4 {
  display: -webkit-box !important;
  -webkit-box-orient: vertical;
  white-space: normal;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-line-clamp: 1;
}
.text_ellipsis_3 {
  -webkit-line-clamp: 3;
}
.text_ellipsis_4 {
  -webkit-line-clamp: 4;
}

@media (max-width: 900px) {
  .section_secondary img.horizontal_img {
    max-width: 50%;
  }
  .section_secondary img.vertical_img {
    max-height: 450px;
  }
  .gap_lg {
    gap: 65px;
  }
}
@media (max-width: 725px) {
  .gap_lg {
    gap: 50px;
  }

.page_container {
  gap: var(--s5);
}
}
@media (max-width: 500px) {
  .text_ellipsis_4 {
    -webkit-line-clamp: 6;
  }
  .gap_lg {
    gap: 40px;
  }
  .section_secondary img.vertical_img {
    max-height: 400px;
  }
}
strong {
  font-weight: 600;
}
/* FORM */
input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  margin: 0;
  font: inherit;
  color: var(--color-secondary);
  width: 30px;
  height: 30px;
  border: 1px solid var(--color-secondary);
  transform: translateY(-0.075em);
  display: grid;
  place-content: center;
}
input[type="checkbox"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--color-secondary);
  transform-origin: bottom left;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}
input[type="checkbox"]:checked::before {
  transform: scale(1);
}
button:focus, button:active {
  outline: none !important;
  box-shadow: none !important;
  text-decoration: none !important;

}
.primary_button, .secondary_button {
  border-radius: 50px;
  padding: var(--s2) var(--s3);
  font-size: var(--f-xl);
  transition: background-color 0.15s ease-in-out;
}
.primary_button:disabled, .secondary_button:disabled, .secondary_button.blue_:disabled {
  opacity: 0.7;
}
.primary_button, .secondary_button.blue_:hover:not([disabled]) {
  background-color: var(--bg-accent1);
  border: 1px solid var(--bg-accent1);
  color: var(--color-secondary);
}
.secondary_button {
  background-color: var(--bg-primary);
  border: 1px solid var(--bg-secondary);
  color: var(--color-primary);
}
.primary_button:hover:not([disabled]), .secondary_button:hover:not([disabled]) {
  background-color: var(--bg-secondary);
  border: 1px solid var(--color-secondary);
  color: var(--color-secondary);
}
.category_button:hover:not([disabled]), .category_button.active {
  background-color: var(--bg-accent1) !important;
  border: 1px solid var(--bg-accent1) !important;
  color: var(--color-secondary) !important;
}
.category_button {
  border-radius: 8px !important;
  font-size: var(--f-lg);
  padding: 4px 20px;
}
.category_filtering_buttons {
  gap: var(--s1);
  padding-block: var(--s5);
}
.highlighted_text {
  color: var(--bg-accent2) !important;
}
@media (min-width: 1201px) {
  .category_filtering_buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
@media (max-width: 1200px) {
  .category_filtering_buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
  .category_filtering_buttons .category_button {
    width: 100%;
  }
}
@media (max-width: 1100px) {
  .category_filtering_buttons:not(.case_filters) {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 600px) {
  .category_filtering_buttons {
    grid-template-columns: repeat(2, 1fr);
  }
}

  /* COMMON SECTIONS */
  .section_secondary {
    width: 100vw;
    background-color: var(--bg-secondary);
    padding: var(--lg) 0;
  }
  .section_secondary .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: var(--s5);
    color: var(--color-secondary);
    margin: var(--s6) auto;
  }
  .section_secondary.not_fullsize .content {
    max-width: 1024px;
  }
  .section_secondary .sp_header{
    font-size: var(--f-h3);
  }
  .section_secondary .sp_text{
    font-size: var(--f-lg);
  }
 
  /* ======== HEADER ======== */
  .header_wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding: var(--s3) 0;
  }
  .head_nav_items {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: var(--s5);
    color: var(--color-primary);
  }
  .head_nav_items a{
    color: var(--color-primary);
    font-size: 15px;
  }
  .menu_icon_wrapper {
    display:flex;
    align-items: center;
  }
  .menu_icon {
    height: 15px;
    width: auto;
  }

  /* ======== FOOTER ======== */
  .footer_style_secondary {
    background-color: var(--bg-secondary);
  }
  .contact_page_footer {
    background-color: var(--bg-accent1);
  }
  .footer_style_secondary, .contact_page_footer {
    color: var(--color-secondary);
    border-top-color: var(--color-secondary);
  }
  footer {
    border-top: 1px solid var(--color-primary);
    padding: 100px 0;
  }
  footer *{
    font-size: var(--f-md);
  }


/* HOVER CARD */
.hover_card {
  position: relative;
  padding: 0;
}
.hover_card .back_page {
  width: 100%;
  height: auto;
  opacity: 0;
  transition: opacity 0.25s ease-in;
}

.hover_card .front_page {
  position: absolute;
  height: 100%;
  width: 100%;
  padding: var(--s3);
  transition: opacity 0.15s ease-in;
}

.hover_card .front_page {
  opacity: 1;
}

.hover_card:hover .front_page {
  opacity: 0;
}

.hover_card:hover .back_page {
  opacity: 1;
}

/* SECTIONS */
.section_type_3 {
  background-color: var(--bg-secondary);
}
.section_type_3 * {
  color: var(--color-secondary);
}
.padding_top_xs {
  padding-top: var(--s3) !important;
}
.padding_top_sm {
  padding-top: var(--s5) !important;
}
.padding_top_lg {
  padding-top: var(--lg) !important;
}
.padding_bottom_sm {
  padding-bottom: var(--s5) !important;
}
.padding_bottom_lg {
  padding-bottom: var(--lg) !important;
}
.section_padding_1 {
  padding-top: var(--s6) !important;
  padding-bottom: var(--lg) !important;
}
.section_padding_sm {
  padding-top: var(--s5) !important;
  padding-bottom: var(--s5) !important;
}
.section_padding_3 {
  padding-top: var(--lg) !important;
  padding-bottom: var(--lg) !important;
}
/* WIDTHS */
.w_70 {
  max-width: 70%
}
@media (max-width: 1024px) {
  .w_70 {
    max-width: 100%
  }
}
/* ERRORS */
.message_to_admin * {
  font-weight: 500;
  font-size: 24px;
}
.error_card {
  background: var(--bg-secondary);
  padding: var(--s5);
  border-radius: 12px;
  border: 10px solid red;
}
.error_card * {
  color: var(--color-secondary);
}

.border_bottom_primary {
    border-bottom: 1px solid var(--color-primary);
  
}
body.customize-support, body {
  padding-top: 0 !important;
}

/* MENU */
.close_icon {
  height: 36px;
  width: auto;
  transition: scale 0.2s ease-in-out;
  margin-bottom: 18px;
}
.close_icon:hover {
  scale: 1.1;
}
.splay_menu ul {
  list-style-type: none;
  padding-left: 0;
}
.splay_menu ul > li {
  list-style-type: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
}
/* MAIN MENU */
ul.main_menu_wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-bottom: 0;
}
/* HAMBURGER MENU */
header {
  position: relative;
}

.hamburger_menu_toggle {
  background: transparent;
  border: none;

}
.hamburger_menu_toggle.close_btn, ul.ham_menu_wrapper > li > a {
  font-size: 60px;
  font-family: "Adieu-Black";
  color: var(--color-secondary) !important;
}
/* CONTENT - HAMBURGER MENU */
.splay_page.hidden, .splay_footer.hidden {
  display: none;
}
.hamburger_menu {
  position: fixed;
  z-index: 100;
  top: 0;
  left: calc(-100vw - 1000px);
  width: 100vw;
  height: 100vh;
  background-color: var(--bg-accent1);
  transition: left 0.3s ease-in-out;
}

.hamburger_menu.open {
  left: 0;
}

ul.ham_menu_wrapper > li {
  list-style-type: none;
  margin: 0;
  margin-bottom: var(--s1);
  padding: 0;
  cursor: pointer;
}

ul.ham_menu_wrapper > li.current_page_item > a, ul.ham_menu_wrapper > li.current-menu-item > a, ul.ham_menu_wrapper > li:hover > a, .hamburger_menu_toggle.close_btn:hover {
  color: var(--bg-accent2) !important;
}
.hamburger_menu .caybon > img {
  height: 29px;
  width: auto;
}
.hamburger_menu .caybon {
  color: var(--color-secondary);
}
/* TALK TO */
.talk_to_container  {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}
.talk_to_container a {
  font-family: "Adieu-Light";
  font-size: var(--f-xxxl);
  text-decoration: underline;
  margin-bottom: 0 !important;
  padding-left: var(--s2);
}
.talk_to_container img {
  height: 30px;
  width: auto;
  padding-top: 6px;
}
.talk_to_container.sm_ img {
  height: 18px;
  padding-top: 2px;
}
.talk_to_container.sm_ a {
  font-size: var(--f-lg);
}


@media (max-width: 1424px) {
  .content {
    padding: 0 var(--s4);
  }
  .top_page_padding {
    padding-top: 40px;
  }
}
@media (max-width: 1024px) {
  :root {
    /* DONE */
    --f-h2: 64px;
    --f-h1: 96px;  
  }
  .top_page_padding {
    padding-top: 35px;
  }
}
@media (max-width: 900px) {
  :root {
    --f-h4: 36px;
    --f-h3: 40px;
    --f-h2: 58px;
    --f-h1: 88px;
    --s7: 58px;
    --lg: 70px;
  }
  .top_page_padding {
    padding-top: 30px;
  }
  .section_padding_3 {
    padding-top: var(--s4) !important;
  }
}
@media (max-width: 825px) {
  :root {
    --f-sm: 15px;
    --f-md: 16px;
    --f-lg: 18px;
    --f-xl: 20px;
    --f-xxl: 26px;
    --f-xxxl: 28px;

    --s1: 6px;
    --s2: 12px;
    --s3: 18px;
    --s4: 26px;
    --s5: 34px;
    --s6: 40px;
    --s7: 50px;
    --lg: 60px;
  }
}
@media (max-width: 725px) {
  :root {
    --f-h4: 30px;
    --f-h3: 36px;
    --f-h2: 50px;
    --f-h1: 74px;  
  }
  .top_page_padding {
    padding-top: 20px;
  }
}
@media (max-width: 650px) {
  .hamburger_menu_toggle.close_btn, ul.ham_menu_wrapper > li > a {
    font-size: 50px;
  }
  .hamburger_menu_content {
    flex-direction: column !important;
    height: 100%;
  }
  .hamburger_menu_footer {
    justify-content: flex-start !important;
    padding-top: var(--s2);
  }
}
@media (max-width: 600px) {
  :root {
    --s1: 4px;
    --s2: 8px;
    --s3: 12px;
    --s4: 18px;
    --s5: 28px;
    --s6: 32px;
    --s7: 40px;
    --lg: 50px;

    --f-xs: 12px;
    --f-sm: 14px;
    --f-md: 15px;
    --f-lg: 17px;
    --f-xl: 18.5px;
    --f-xxl: 20px;
    --f-xxxl: 22px;

    --f-h3: 34px;
    --f-h2: 46px;
    --f-h1: 64px;  
  }
  .pb-5 {
    padding-bottom: 1rem !important;
  }
  .w-50 {
    min-width: 75%;
    width: 75%;
  }
  .section_padding_3 {
    padding-top: var(--s1) !important;
  }
  .mobile_full {
    width: 100%;
    min-width: 100%;
    max-width: 100%;
  }
}
@media (max-width: 550px) {
  .splay_menu > .menu-main-menu-container {
    display: none;
  }
  .hamburger_menu_toggle.close_btn, ul.ham_menu_wrapper > li > a {
    font-size: 40px;
  }
  .section_secondary.not_fullsize .col-10 {
    width: 100% !important;
  }
}
@media (max-width: 400px) {
  :root {
    --s5: 22px;
    --s6: 28px;
    --s7: 34px;
    --lg: 40px;

    --f-lg: 16px;
    --f-xl: 17px;
    --f-h4: 24px;
    --f-h3: 32px;
    --f-h2: 40px;
    --f-h1: 50px;  
  }
  .top_page_padding {
    padding-top: 20px;
  }
  .hamburger_menu_toggle.close_btn, ul.ham_menu_wrapper > li > a {
    font-size: 35px;
  }
}