/* 

Version: 1.0.0

*/

/* HOME - Intro */
#intro_section {
  gap: var(--s4);
  padding-block-end: var(--s4)
}
.intro_title {
  font-size: 120px;
  flex-grow: 1;
  white-space: nowrap;
  margin-top: 0;
}
.intro_text {
  max-width: 360px;
}

/* HOME - Awards */
.award_image_carousel {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: center;
  gap: var(--s4);
  margin-top: var(--s6);
}
.award_image_carousel img{
  max-height: 50px;
  width: auto;
}
/* TODO: Images */

/* HOME - Case thumbnails */
.home_case_logo_img {
  max-height: 180px;
  max-width: 100%;
}
.thumbnail_container {
  gap: var(--s7);
}
.thumbnail_item {
  margin-bottom: var(--s2);
}

.thumbnail_container > .w-50 {
  width: calc(50% - var(--s5)) !important;
}

.thumbnail_container > .w-50:nth-child(odd) {
  margin-top: 125px;
}
@media (max-width: 825px) {
  .thumbnail_container {
    gap: var(--s4);
  }
}
@media (max-width: 825px) and (min-width: 601px) {
  .thumbnail_container > .w-50 {
    width: calc(50% - var(--s4) / 2) !important;
    gap: 12px;
  }
}
@media (max-width: 600px) {
  .thumbnail_container > .w-50 {
    margin-top: 0 !important;
    width: 100% !important;
  }
}
.news_scrool_feed {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  width: 100%;
}

@media (min-width: 768px) {
  .contact_form_section_title {
  /* To style forminator alignment */
    padding-bottom: 70px;
  }
}
.news_item .secondary_button:not(.no_image) {
  background: transparent;
  color: var(--color-secondary);
  border-color: var(--color-secondary);
}
.news_item .secondary_button:not(.no_image):hover {
  background-color: #ffffff35 !important;
}
.news_item .secondary_button:hover {
  background-color: var(--bg-accent1);
}
.news_item {
  aspect-ratio: 1/ 1.15;
  border: 1px solid var(--color-primary);
  padding: var(--s4); 
  overflow: hidden;
}
.news_item:hover {
  padding: 0;
} 
.news_item .front_page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.news_item:hover .front_page {
  display: none;
}
.news_item .back_page {
  opacity: 0;
  transition: opacity 0.25s ease-in;
}
.news_item .back_page .button_wrapper {
  display: none;
}

.news_item:hover .back_page {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100%;
  opacity: 1;
}
.news_item .back_page img {
  display: none;
}
.news_item:hover .back_page img {
  display: block;
}
.news_item:hover .back_page .button_wrapper {
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
}
.home_news_section {
  margin-bottom: calc(var(--lg) * 2);
}

@media (max-width: 1200px) {
  .news_scrool_feed {
    grid-template-columns: repeat(3, 1fr);
  }
  .news_scrool_feed.in_home_ .news_item:nth-child(3) {
    display: none;
  }
}
@media (max-width: 1024px) and (min-width: 825px) {
  .news_item .front_page p {
    font-size: 18px;
    margin-bottom: 0;
  }
  .news_item .front_page p.text_1 {
    font-size: 16px;
    -webkit-line-clamp: 3 !important;
  }
}
@media (max-width: 825px) {
  .news_scrool_feed {
    grid-template-columns: repeat(2, 1fr);
  }
  .news_scrool_feed.in_home_ .news_item:nth-child(3) {
    display: block;
  }
}
@media (max-width: 600px) {
  .news_item .front_page p {
    margin-bottom: 0;
  }
}
@media (max-width: 500px) {
  .news_scrool_feed {
    grid-template-columns: repeat(1, 1fr);
  }
}

/* ========================================*/
/* =========== PAGE: OUR PEOPLE ===========*/

.people_cards_archive {
  min-height: 300px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0;
}
.person-cards-wrapper .people_cards_archive.load_all_cards > .people_card.d-none {
  display: block !important;
}
.person-cards-wrapper .people_cards_archive {
  min-height: 1px !important;
}
.people_card {
  width: 100%;
  position: relative;
  padding: 0;
  background-color: var(--bg-accent1);
  overflow: hidden;
  aspect-ratio: 1/1.55;
}
.people_card img {
  width: 100%;
  height: auto;
  opacity: 1;
  transition: opacity 0.25s ease-in;
}
.people_card p, .people_card a {
  font-size: var(--f-sm);
  color: var(--color-secondary);
}

.people_card .front_page, 
.people_card .back_page {
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  padding: var(--s3);
  font-size: var(--f-xs);
  transition: opacity 0.15s ease-in;
}

.people_card .front_page {
  opacity: 1;
}
.people_card .back_page {
  opacity: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.people_card:hover .front_page, 
.people_card:hover img {
  opacity: 0;
}

.people_card:hover .back_page {
  opacity: 1;
}
@media (max-width: 1100px) {
  .people_cards_archive {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 600px) {
  .people_cards_archive {
    grid-template-columns: repeat(2, 1fr);
  }
}
/* =======================================*/
/* ============ PAGE: CONTACT ============*/
/* TODO: INVESTIGATE !!!!*/
/* .sticky_content {
  height: calc(100vh - var(--header-height)); 
  position: -webkit-sticky; 
  position: sticky; 
  top: 0;
  width: calc(50% - 40px);
}
.sticky_content .page_title {
  font-size: var(--f-h1);
  line-height: 0.9;
  padding-right: 80px;
  display: flex;
  height: 100%;
  align-items: flex-end;
} */
.sticky_content {
  height:400px; 
  position:-webkit-sticky; 
  position:sticky; 
  top: 60%;
  width: calc(50% - 40px);
}
.sticky_content .page_title {
  font-size: var(--f-h1);
  line-height: 0.9;
  padding-right: 80px;
}
.contact_content {
  display: flex;
  flex-direction: row; 
  position: relative;
  width: calc(50% + 41px);
  padding-left: 40px;
}
.contact_page_header, .contact_page_header .sticky_header {
  background-color: var(--bg-accent1) !important;
}
.contact_page_header .head_nav_items a{
  color: var(--color-secondary);
}
.contact_page  {
  background-color: var(--bg-accent1);
  display: flex;
  flex-direction: row;
}
.contact_page * {
  color: var(--color-secondary);
}

.contact_item {
  display: flex;
  flex-direction: column;
  padding-bottom: var(--s4);
}
.contact_item p {
  font-size: var(--f-sm);
  margin-bottom: 0;
}
@media (max-width: 1100px) {
  .sticky_content .page_title {
    font-size: var(--f-h2);
  }
}
@media (max-width: 825px) {
  .sticky_content .page_title {
    padding-right: 40px;
    line-height: 1.1;
  }
}
@media (max-width: 700px) {
  .contact_page  {
    flex-direction: column;
  }
  .absolute_line {
    display: none;
  }
  .sticky_content {
    height: auto; 
    position: inherit; 
    position: inherit; 
    top: auto;
    width: 100%;
    padding-top: 20px;
  }
  .sticky_content .page_title {
    padding-right: 0;
  }
  .contact_content {
    width: 100%;
    padding-left: 0;
  }
  .contact_info_rows {
    margin-left: 0;
  }
}
@media (max-width: 400px) {
  .contact_info_rows .col-sm-6, .contact_page select {
    width: 100%;
    min-width: 100%;
  }
}
/* ABOUT PAGE ========== */
.about_header {
  position: relative;
  display: flex;
  overflow: hidden;
  align-items: center;
}
.about_header_image {
  width: 100%;
  height: auto;
}
.about_header_content {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}
.about_header_text {
  font-size: 130px;
  color: var(--color-secondary);
  width: 100%;
}
.about_header_text#about_header_1 {
  text-align: left;
}
.about_header_text#about_header_2 {
  text-align: right;
}

.work_area_section {
  background-color: var(--bg-accent1);
}
.work_area_section * {
  color: var(--color-secondary);
}
.work_area_header {
  font-size: var(--f-h4);
}
.work_area_content {
  padding-top: var(--lg);
  display: flex;
  flex-direction: column;
}
.work_area_list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.area_item {
  position: relative;
  border-left: none;
  border-top: none;
  padding: var(--s4);
  overflow: hidden;
  aspect-ratio: 1/0.65;
}
.work_area_list {
  border: 0.5px solid var(--color-secondary)
}
.popup_image_1, .popup_image_2 {
  position: relative;
  z-index: -1;
  opacity: 0;
  transition: opacity 0.25s ease-in;
  height: 100%;
  width: auto;
}
.area_item_wrapper {
  width: calc(100% / 3);
  border: 0.5px solid var(--color-secondary)
}

.area_item_text_content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.area_item #topic {
  font-size: var(--f-lg);
  font-family: "Adieu-Light";
}
@media (min-width: 601px) {
  .area_item #description {
    position: absolute;
    opacity: 0;
    color: transparent;
    transition: opacity 0.25s ease-in;
  }
  .item_hovered #description {
    position: relative;
    opacity: 1;
    color: var(--color-primary);
  }
  .item_hovered .area_item {
    background-color: var(--bg-primary);
  }
  .item_hovered .area_item #topic {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    margin-bottom: var(--s1);
  }
  .item_hovered #topic, .item_hovered #description, .item_hovered p {
    color: var(--color-primary);
  }
  .item_hovered .area_item_text_content {
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
  }
  .area_item_wrapper.popup_active_one .area_item_text_content, .area_item_wrapper.popup_active_one .popup_image_2,
  .area_item_wrapper.popup_active_two .area_item_text_content, .area_item_wrapper.popup_active_two .popup_image_1 {
    display: none;
  }
  .area_item_wrapper.popup_active_one .popup_image_1,
  .area_item_wrapper.popup_active_two .popup_image_2  {
    opacity: 1;
    z-index: 1;
  }
  .area_item_wrapper.popup_active_one .area_item,
  .area_item_wrapper.popup_active_two .area_item  {
    padding: 0;
  }
  .area_item_wrapper.popup_active_one .area_item_text_content,
  .area_item_wrapper.popup_active_two .area_item_text_content {
    position: absolute;
    opacity: 0;
    transition: opacity 0.25s ease-in;
  }
}
@media (max-width: 1200px) and (min-width: 1025px) {
  .item_hovered .area_item_text_content p#topic,
  .area_item_text_content p.text_1 {
    font-size: var(--f-sm);
    line-height: 1.3 !important;
  }
  .area_item_text_content p#topic {
    margin-bottom: 4px;
  }
  .area_item {
    padding: calc(var(--s3) + 2px) var(--s3);
  }
}
@media (max-width: 1200px) {
  .area_item_text_content p#topic {
    line-height: 1.2 !important;
  }
   .item_hovered .area_item_text_content p#topic {
    line-height: 1.3 !important;
  }
}
@media (max-width: 1024px) {
  .work_area_list:not(.podcast_items) .area_item_wrapper {
    width: 50%;
  }
  .about_header_text {
    font-size: 100px;
  }
}
@media (max-width: 900px) {
  .item_hovered .area_item_text_content p#topic {
    font-size: var(--f-md);
  }
  .about_header_text {
    font-size: 85px;
  }
  .area_item_text_content p {
    font-size: var(--f-sm);
  }
}
@media (max-width: 725px) {
  .work_area_description {
    width: 80% !important;
  }
  .item_hovered .area_item_text_content p#topic {
    font-size: var(--f-sm);
  }
  .area_item_text_content p#description {
    font-size: var(--f-xs);
  }
  .area_item_text_content p#topic {
    margin-bottom: 4px;
  }
  .area_item {
    padding: 20px var(--s3);
  }
  .about_header_text {
    font-size: 75px;
  }
}

@media (max-width: 600px) {
  .about_header_text {
    font-size: 56px;
  }
  /* Disable hover and popup images */
  .area_item_wrapper .area_item {
    aspect-ratio: inherit !important;
    padding: var(--s4);
    min-height: 225px;
  }
  .area_item_wrapper .area_item .area_item_text_content {
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
  }
  .popup_image_1, .popup_image_2 {
    display: none !important;
  }
  .item_hovered .area_item #description, 
  .area_item p#description {
    position: relative !important;
    opacity: 1 !important;
    font-size: var(--f-sm);
  }
  .item_hovered .area_item p#topic,
  .area_item p#topic {
    font-family: 'Poppins', sans-serif !important;
    font-weight: 500;
    margin-bottom: 6px;
    line-height: 1.3 !important;
    font-size: var(--f-lg);
  }
  /* Specific for why us section */
  .why_us_section.work_area_section .area_item_wrapper * {
    color: var(--color-secondary);
  }
  .why_us_section.work_area_section .area_item_wrapper {
    background-color: var(--bg-accent1);
  }
  .why_us_section.work_area_section .area_item_wrapper .area_item {
    border-color: var(--color-primary) !important;
  }
}
@media (max-width: 450px) {
  .work_area_list:not(.podcast_items) .area_item_wrapper {
    width: 100%;
  }
  .area_item_wrapper .area_item {
    min-height: 150px;
  }
}
@media (max-width: 400px) {
  .about_header_text {
    font-size: 46px;
  }
}
@media (max-width: 340px) {
  .about_header_text {
    font-size: 40px;
  }
}

/* SELECTED CLIENTS */
/* & QUOTE */
.selected_clients_text_content {
  display: grid;
  grid-template-columns: 30% 1fr;
  gap: var(--lg);
}
.quote_section {
  display: grid;
  grid-template-columns: 1fr var(--grid-30);
  gap: var(--lg);
}
.quote_section p, 
.quote_section a,
.quote_text  {
  font-family: "Adieu-Light";
  font-size: var(--f-xxxl);
  margin-bottom: var(--s4);
}
.quote_text {
  font-style: italic;
}
@media (max-width: 725px) {
  .quote_section p, 
  .quote_section a,
  .quote_text  {
    font-size: var(--f-xxl);
  }
  .selected_clients_text_content {
    grid-template-columns: 25% 1fr;
  }
}
@media (max-width: 600px) {
  .quote_section, .selected_clients_text_content {
    display: flex;
    flex-direction: column;
    gap: var(--s4);
  }
  .grid_child_mobile_small, .grid_child_mobile_large {
    max-width: 70%;
  }
  .grid_child_mobile_small {
    width: 250px;
  }
  .quote_section .grid_child_mobile_small {
    margin-left: auto;
  }
  .selected_clients_text_content .grid_child_mobile_large {
    max-width: 80%;
  }
  .selected_clients_text_content .subtitle_1 {
    margin-bottom: 0;
  }
  .quote_section .grid_child_mobile_small p {
    margin-bottom: var(--s1);
  }
}
@media (max-width: 500px) {
  .grid_child_mobile_small, .grid_child_mobile_large {
    max-width: 100% !important;
  }
  .quote_text {
    width: 320px;
  }
  .quote_section p, 
  .quote_section a,
  .quote_text  {
    font-size: var(--f-xl);
  }
}

/* ========= TALENT PAGE ========= */
.why_us_section.work_area_section {
  background-color: var(--bg-primary);
}
.why_us_section.work_area_section .work_area_list,
.why_us_section.work_area_section .work_area_list .area_item_wrapper {
  border-color: var(--color-primary) !important;
}
.why_us_section.work_area_section * {
  color: var(--color-primary);
}
/* No hover effect on mobile or tablet */
@media (min-width: 601px) {
  .why_us_section.work_area_section .item_hovered .area_item {
    background-color: var(--bg-accent1);
  }
  .why_us_section.work_area_section .item_hovered #topic, 
  .why_us_section.work_area_section .item_hovered #description,
  .why_us_section.work_area_section .item_hovered p {
    color: var(--color-secondary);
  }
}

.podcast_items .hover_card .front_page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: var(--f-xs);
}

@media (max-width: 725px) {
  .podcast_items .area_item_wrapper {
    width: 50%;
  }
  .talent_intro .col.col-sm-6 {
    max-width: 40% !important;
    min-width: 40% !important;
    width: 40% !important;
  }
  .talent_intro .col.col-sm-5 {
    max-width: 55% !important;
    min-width: 55% !important;
    width: 55% !important;
  }
}
@media (max-width: 550px) {
  .talent_intro .col.col-sm-6, .talent_intro .col.col-sm-5 {
    max-width: 100% !important;
    min-width: 100% !important;
    width: 100% !important;
  }
  .work_area_content > .work_area_content {
    padding-top: 0;
  }
  .podcast_items .area_item_wrapper .small_title {
    font-size: var(--f-md);
  }
  .podcast_items .area_item_wrapper .text_1 {
    font-size: var(--f-sm);
  }
}
@media (max-width: 400px) {
  .podcast_items .area_item_wrapper {
    width: 100%;
  }
  .podcast_items .area_item_wrapper .small_title {
    font-size: var(--f-lg);
  }
  .podcast_items .area_item_wrapper .text_1 {
    font-size: var(--f-md);
  }
}
/********** PAGE CASE/WORK ARCHIVE **********/
.vimeo_video_container {
  position: relative;
    width: 100%;
    padding-bottom: 56.25%; /* for 16:9 aspect ratio */
    height: 0;
}

#vimeo_video_fullscreen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.case_single_image_wrapper {
  width: 100%;
  max-height: 700px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.case_single_page .service_tag {
  padding-right: var(--s2);
  white-space: nowrap;
}
.case_single_page .service_tag:after {
  content: "|";
  padding-left: var(--s2);

}
.case_single_page .service_tag:last-child:after {
  content: "";
}
.case_archive  {
  min-height: 300px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
}
.case_archive .case_item {
  display: flex;
  flex-direction: column;
}
.kpi_1, .kpi_2 {
  margin-top: -12px;
  font-family: "Adieu-Light";
}
.linked_section_text_content {
  margin-top: auto;
  margin-bottom: auto;
}
.linked_section_img {
  border: 1px solid var(--color-secondary);
  aspect-ratio: 1/1;
  width: 450px;
  max-width: 35%;
  min-width: 35%;
  margin-right: 100px;
}
.kpi_1 {
  font-size: 180px;
}
.kpi_2 {
  font-size: 110px;
}
@media (max-width: 1220px) {
  .kpi_1 {
    font-size: 140px;
  }
  .kpi_2 {
    font-size: 90px;
  }
}
@media (max-width: 1024px) {
  .kpi_1 {
    font-size: 120px;
  }
  .kpi_2 {
    font-size: 80px;
  }
  .linked_section_img {
    min-width: 250px;
  }
}
@media (max-width: 825px) {
  .case_archive {
    gap: 20px;
  }
  .case_archive .case_item .gap_lg {
    gap: 8px;
  }
  .linked_section_img {
    margin-right: 60px
  }
  .kpi_1 {
    font-size: var(--f-h1);
  }
  .kpi_2 {
    font-size: var(--f-h2);
  }
}
@media (max-width: 650px) {
  .case_archive  {
    grid-template-columns: repeat(1, 1fr);
  }
  .case_archive .case_item .gap_lg {
    gap: 12px;
  }
  .linked_section_img {
    margin-right: 20px
  }
}
@media (max-width: 500px) {
  .linked_section.flex-row {
    flex-direction: column !important;
  }
  .linked_section .pb-5, .linked_section .pt-5 {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }
  .linked_section .talk_to_container{
    padding-top: var(--s7) !important;
  }
  .linked_section_text_content {
    margin-top: var(--s5);
  }
  .linked_section_img {
    width: 100%;
    max-width: 100%;
    margin-right: 0;
    margin-top: 0;
  }
}
.case_video_list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-left: 1px;
}
.case_video_list_item .case_video_image_wrapper {
  margin-left: -1px;
}
.case_video_image_wrapper {
  max-height: 300px;
  aspect-ratio: 1.7/ 1;
  overflow: hidden;
  transition: scale 0.25s ease-in-out, z-index 0.25s ease-out;
  scale: 1;
  position: relative;
  z-index: 2;
  border: 1px solid black;
}
.case_video_image_wrapper img {
  width: 100%;
  object-fit: cover;
  height: 100%;
}
.video_animation:hover .case_video_image_wrapper {
  scale: 1.06;
  z-index: 4;
}
.profiles_grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.profiles_hover_card {
  aspect-ratio: 1/ 1;
  display: flex;
  align-items: center;
  position: relative;


}

.profiles_hover_card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;

}

.profiles_hover_content {
  opacity: 0;
  transition: all ease-in-out 0.3s;
  color: var(--color-secondary);
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: var(--s3);
}
.profiles_hover_card:hover .profiles_hover_content {
  background-color: rgba(0, 0, 0, 0.20);
  opacity: 1;
}

.vertical_image_wrapper {
  width: calc(100% / 3 - 30px) !important;
}


/********** PAGE NEWS ARTICLES ARCHIVE **********/
.news_list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.news_list .news_article_item {
  padding: var(--s4);
  height: 360px;
  border: 1px solid var(--color-primary); 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}

@media (max-width: 825px) {
  .news_list .news_article_item {
    padding: var(--s3);
  }
  .vertical_image_wrapper {
    width: calc(100% / 3 - 20px) !important;
  }
}
@media (max-width: 725px) {
  .case_archive  {
    min-height: 200px;
  }
  .profiles_grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 500px) {
  .vertical_image_wrapper {
    width: calc(100% / 3 - 8px) !important;
  }
}
/********** PAGE SINGLE ARTICLES **********/
.single_article header, .single_article .hamburger_menu {
  display: none;
}
.single_article {
  background-color: var(--bg-secondary);
}
.single_article * {
  color: var(--color-secondary);
}
.single_article_page .date_section {
  padding-left: var(--s5);
}
.single_article_page .content_image {
  margin-left: calc((100vw - 1340px) / -2);
}
.go_back_button_wrapper {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 10;
}
.go_back_button {
  font-size: 50px;
}

.single_article_page .article_column:first-child {
  padding-right: var(--s5);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.single_article_page .article_column:last-child {
  padding-left: var(--s5);
}
@media (max-width: 1340px) {
  .single_article_page .content_image {
    margin-left: calc(var(--s4) * -1);
  }
}
@media (max-width: 825px) {
  .single_article_page .padding_bottom_sm {
    padding-bottom: var(--s3) !important;
  }
  .single_article_page .article_column:first-child {
    padding-right: var(--s4);
  }
  .single_article_page .article_column:last-child, 
  .single_article_page .date_section {
    padding-left: var(--s4);
  }
  .single_article_page .article_column:first-child {
    justify-content: flex-start;
    gap: var(--s5);
  }
}
@media (max-width: 725px) {
  .date_section, 
  .single_article_page .col.article_column {
    min-width: 100% !important;
    width: 100% !important;
  }
  .date_section {
    padding-left: 15px;
  }
  .date_section .col#article_location {
    margin-left: var(--s5);
  }
  .single_article_page .col.article_column:first-child {
    padding-left: 15px;
  }
  .single_article_page .col.article_column:first-child p {
    width: 60%;
    margin-right: var(--s7);
  }
  .single_article_page .content_image {
    margin-left: 0;
  }
  .single_article_page .col.article_column:last-child {
    padding-right: var(--s6);
    padding-left: 15px;
  }

}
@media (max-width: 600px) {
  .single_article_page .col-sm-6, footer .row > .col {
    width: 100%;
    min-width: 100%;
  }
  .single_article_page .content_image {
    margin-top: 0;
  }
  .case_video_list {
    grid-template-columns: repeat(1, 1fr);
  }
  .case_video_list_item p {
    margin-bottom: var(--s5);
    padding-top: var(--s2) !important;
  }
}

@media (max-width: 400px) {
  .single_article_page .col.article_column:first-child p {
    margin-right: var(--s5);
  }
}
